<body class="animsition">
  <!-- MENU SIDEBAR-->
  <div class="menu-sidebar d-none d-lg-block">
      <div class="menu-sidebar__content js-scrollbar1">
          <nav class="navbar-sidebar">
              <ul class="list-unstyled navbar__list">
                  <li>
                     <a href ="/admin/index">
                         <i class="fas fa-desktop"></i>관리자 메인 화면</a>
                  </li>
                  <li class="active">
                      <a href="/admin/shop">
                          <i class="fas fa-chart-bar"></i>상품 관리</a>
                  </li>
                  <li>
                      <a href="/admin/table">
                          <i class="fas fa-table"></i>공지 이벤트</a>
                  </li>
                  <li class="has-sub">
                    <a class="js-arrow" href="#">
                      <i class="fas fa-tachometer-alt"></i>상품 판매 정보 관리
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                      <li>
                        <a href="/admin/order_list">
                          <i class="fas fa-tachometer-alt"></i>주문 내역 확인</a>
                      </li>
                      <li>
                        <a href="/admin/sales_statistics">
                          <i class="fas fa-tachometer-alt"></i>판매 정보 통계</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                      <a href="/users/logout">
                          <i class="zmdi zmdi-power"></i>로그아웃</a>
                  </li>

                  </ul>
          </nav>
      </div>
  </div>
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="/admin/index">

                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li>
                            <a href="/admin/index">

                              <i class="fas fa-desktop"></i>관리자 메인 화면</a>
                        </li>
                        <li>
                            <a href="/admin/shop">
                                <i class="fas fa-chart-bar"></i>상품 관리</a>
                        </li>
                        <li>
                            <a href="/admin/table">
                                <i class="fas fa-table"></i>공지 이벤트</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>상품 판매 정보 관리</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/admin/order_list">주문 내역 확인</a>
                                </li>
                                <li>
                                    <a href="/admin/sales_statistics">판매 정보 통계</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/users/logout">
                                <i class="zmdi zmdi-power"></i>로그아웃</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->



        <!-- PAGE CONTAINER-->
        <div class="page-container">


    <div class="shop-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                    <div class="right-product-box">
                           <div class="product-item-filter row">
                             <div class="col-12 col-sm-8 text-center text-sm-left">
                                 <div class="toolbar-sorter-right">
                                     <span>Sort by </span>
                                     <select id="filter" name="filter" class="selectpicker show-tick form-control" data-placeholder="$ USD" onchange="PriceSubmit();">
                                        <option data-display="Select" value="-createAt">Nothing</option>
                                        <option value="-price">High Price → Low Price</option>
                                        <option value="price">Low Price → High Price</option>
                                      </select>
                                      <form action="/admin/shop" method="get" id="form_sort">
                                        <input type="hidden" name="amount_start" value="<%= amount_start %>">
                                        <input type="hidden" name="amount_end" value="<%= amount_end %>">
                                        <input type="hidden" name="sort" id="sort" value="<%= sort %>">
                                        <input type="hidden" name="origin" id= "origin" value="<%= origin %>">
                                        <input type="hidden" name="searchText" id= "searchText" value="<%= searchText %>">

                                      </form>
                                 </div>
                                 <p>Showing all 4 results</p>
                             </div>
                             <div class="col-12 col-sm-4 text-center text-sm-right">
                               <a href="/admin/register">
                                   <button type="button" style="width: 120pt; height: 30pt" class="btn btn-outline-success">상품 등록</button>
                               </a>
                             </div>
                           </div>
                        <div class="product-categorie-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                    <div class="row">
                                        <%  products.forEach(function(product) {  %>
                                            <% if(product.price < amount_start || product.price > amount_end) return; %>
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix" style="height:100%; !important;">
                                                  <% if(product.flag==false){ %>
                                                      <div class="box-img-delete" style="height:70%; !important;">
                                                  <% } else { %>
                                                      <div class="box-img-hover" style="height:70%; !important;">
                                                  <% } %>
                                                        <a href="/products/<%= product._id %>" data-toggle="tooltip" data-placement="right" title="View">
                                                            <img src="/upload/<%= product.img %>" class="img-fluid" alt="Image">
                                                        </a>
                                                    </div>
                                                    <div class="why-text" style="height:30%; !important;">
                                                        <h4><%= product.name %><% if(product.flag==false) { %>
                                                        <span>(삭제된 상품)</span>
                                                        <% } %></h4>
                                                        <h5> <%= product.price %>won</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                    <div class="product-categori">
                        <div class="search-product">
                            <form action="/admin/shop" method="get">
                                <input class="form-control" minlength="2" name="searchText" value="<%= searchText %>" placeholder="Search here..." type="text">
                                <input type="hidden" name="amount_start" value="<%= amount_start %>">
                                <input type="hidden" name="amount_end" value="<%= amount_end %>">
                                <input type="hidden" name="sort" id="sort" value="<%= sort %>">
                                <input type="hidden" name="origin" id="origin" value="<%= origin %>">
                                <button type="submit"> <i class="fa fa-search"></i> </button>
                            </form>
                        </div>
                        <div class="filter-sidebar-left">
                            <div class="title-left">
                                <h3>Categories</h3>
                            </div>
                            <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                                <div class="list-group-collapse sub-men">
                                    <a class="list-group-item list-group-item-action " href="#sub-men1" data-toggle="collapse" aria-expanded="true" aria-controls="sub-men1">원두 종류 <small class="text-muted"></small>
                        </a>
                                    <div class="collapse show" id="sub-men1" data-parent="#list-group-men">
                                        <div class="list-group">
                                            <a href="/admin/shop?origin=4" id="begin" class="list-group-item list-group-item-action">입문자용 원두 <small class="text-muted"></small></a>
                                            <a href="/admin/shop?origin=1" id="normal" class="list-group-item list-group-item-action">일반 원두 <small class="text-muted"></small></a>
                                            <a href="/admin/shop?origin=3" id="advanced" class="list-group-item list-group-item-action">고급 원두 <small class="text-muted"></small></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group-collapse sub-men">
                        </a>
                                    <div class="collapse" id="sub-men2" data-parent="#list-group-men">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="filter-price-left">
                            <div class="title-left">
                                <h3>Price</h3>
                            </div>
                            <div class="price-box-slider">
                                <div id="slider-range"></div>
                                <p>
                                    <form action="/admin/shop" method="get">
                                        <input type="text" size="8" id="amount_start" name="amount_start"  readonly style="border:0; color:#fbb714; font-weight:bold;">원
                                         ~
                                        <input type="text" size="8" id="amount_end" name="amount_end"  readonly style="border:0; color:#fbb714; font-weight:bold;">원
                                        <input type="hidden" name= "origin" id= "origin" value="<%= origin %>">
                                        <input type="hidden" name= "searchText" id= "searchText" value="<%= searchText %>">
                                        <input type="hidden" name= "sort" id= "sort" value="<%= sort %>">

                                        <button class="btn hvr-hover" type="submit">Filter</button>
                                  </form>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Shop Page -->
        </div>
        <!-- END PAGE CONTAINER-->

    </div>


</body>

<script>
    if(<%= origin %>==4){
      document.getElementById("begin").className="list-group-item list-group-item-action active";
    }else if(<%= origin %>==1){
      document.getElementById("normal").className="list-group-item list-group-item-action active";
    }else if(<%= origin %>==3){
      document.getElementById("advanced").className="list-group-item list-group-item-action active";
    }
    document.write(<%= origin %>);

    function PriceSubmit(){
      var sel=document.getElementById("filter");
      var price_select=sel.options[sel.selectedIndex].value;
      document.getElementById("sort").value=price_select;
      document.getElementById("form_sort").submit();
    }
</script>
