<body class="animsition">

  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
      <div class="menu-sidebar__content js-scrollbar1">
          <nav class="navbar-sidebar">
              <ul class="list-unstyled navbar__list">
                  <li>
                     <a href ="/admin/index">
                         <i class="fas fa-desktop"></i>관리자 메인 화면</a>
                  </li>
                  <li>
                      <a href="/admin/shop">
                          <i class="fas fa-chart-bar"></i>상품 관리</a>
                  </li>
                  <li class="active">
                      <a href="/admin/table">
                          <i class="fas fa-table"></i>공지 이벤트</a>
                  </li>
                  <li class="has-sub">
                    <a class="js-arrow" href="#">
                      <i class="fas fa-tachometer-alt"></i>상품 판매 정보 관리
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                      <li>
                        <a href="/admin/order_list">
                          <i class="fas fa-tachometer-alt"></i>주문 내역 확인</a>
                      </li>
                      <li>
                        <a href="/admin/sales_statistics">
                          <i class="fas fa-tachometer-alt"></i>판매 정보 통계</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                      <a href="/users/logout">
                          <i class="zmdi zmdi-power"></i>로그아웃</a>
                  </li>
              </ul>
          </nav>
      </div>
  </aside>
  <!-- END MENU SIDEBAR-->
    <div class="page-wrapper">
      <!-- HEADER MOBILE-->
      <header class="header-mobile d-block d-lg-none">
          <div class="header-mobile__bar">
              <div class="container-fluid">
                  <div class="header-mobile-inner">
                      <a class="logo" href="/admin/index">
                      </a>
                      <button class="hamburger hamburger--slider" type="button">
                          <span class="hamburger-box">
                              <span class="hamburger-inner"></span>
                          </span>
                      </button>
                  </div>
              </div>
          </div>
          <nav class="navbar-mobile">
              <div class="container-fluid">
                  <ul class="navbar-mobile__list list-unstyled">
                      <li>
                        <a href="/admin/index">
                            <i class="fas fa-desktop"></i>관리자 메인 화면</a>
                      </li>
                      <li>
                          <a href="/admin/shop">
                              <i class="fas fa-chart-bar"></i>상품 관리</a>
                      </li>
                      <li>
                          <a href="/admin/table">
                              <i class="fas fa-table"></i>공지 이벤트</a>
                      </li>
                      <li class="has-sub">
                          <a class="js-arrow" href="#">
                              <i class="fas fa-tachometer-alt"></i>상품 판매 정보 관리</a>
                          <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                              <li>
                                  <a href="/admin/order_list">주문 내역 확인</a>
                              </li>
                              <li>
                                  <a href="/admin/sales_statistics">판매 정보 통계</a>
                              </li>
                          </ul>
                      </li>
                      <li>
                          <a href="/users/logout">
                              <i class="zmdi zmdi-power"></i>로그아웃</a>
                      </li>
                  </ul>
              </div>
          </nav>
      </header>
      <!-- END HEADER MOBILE-->



        <!--PAGE CONTAINER-->
        <div class="page-container">


            <!-- MAIN CONTENT-->
              <div class="main-content">
                  <div class="section__content section__content--p30">
                      <div class="container-fluid">
                          <div class="row">

                          <div class="row">
                              <div class="col-lg-6">

                                  <!-- END USER DATA-->
                              </div>
                              <div class="col-lg-6">

                              </div>
                          </div>
                          <div class="col-md-12">
                              <div class="col-xl-auto">
                                  <!-- DATA TABLE -->
                                  <h3 class="title-5 m-b-35">data table</h3>
                                  <div class="table-data__tool">
                                      <div class="table-data__tool-left">
                                          <div class="rs-select2--light rs-select2--md">
                                              <select class="js-select2" name="property">
                                                  <option selected="selected">All Properties</option>
                                                  <option value="">Option 1</option>
                                                  <option value="">Option 2</option>
                                              </select>
                                              <div class="dropDownSelect2"></div>
                                          </div>
                                          <div class="rs-select2--light rs-select2--sm">
                                              <select class="js-select2" name="time">
                                                  <option selected="selected">Today</option>
                                                  <option value="">3 Days</option>
                                                  <option value="">1 Week</option>
                                              </select>
                                              <div class="dropDownSelect2"></div>
                                          </div>
                                          <button class="au-btn-filter">
                                              <i class="zmdi zmdi-filter-list"></i>filters</button>
                                      </div>
                                      <div class="table-data__tool-right">
                                          <button class="au-btn au-btn-icon au-btn--green au-btn--small" onclick="location.href='/admin/form_create'">
                                              <i class="zmdi zmdi-plus"></i>add item</button>
                                          <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                                              <select class="js-select2" name="type">
                                                  <option selected="selected">Export</option>
                                                  <option value="">Option 1</option>
                                                  <option value="">Option 2</option>
                                              </select>
                                              <div class="dropDownSelect2"></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-xl-auto">
                                    <div class="table-data__tool">
                                        <div class="table-data__tool-left">
                                            <div class="rs-select2--light rs-select2--md">
                                              <form class="form-header" action="" method="POST">
                                                  <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                                                  <button class="au-btn--submit" type="submit">
                                                      <i class="zmdi zmdi-search"></i>
                                                  </button>
                                              </form>
                                            </div>
                                          </div>
                                        </div>
                                  </div>
                                  <div class="table-responsive table-responsive-data2">
                                      <table class="table table-data2">
                                          <thead>
                                              <tr>
                                                  <th>
                                                      <label class="au-checkbox">
                                                          <input type="checkbox">
                                                          <span class="au-checkmark"></span>
                                                      </label>
                                                  </th>
                                                  <th>제목</th>
                                                  <!-- <th>email</th> -->
                                                  <th>상세 내용</th>
                                                  <th>진행기간</th>
                                                  <th>상태</th>
                                                  <th></th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              <% posts.forEach(function(post) { %>
                                                <tr class="tr-shadow">
                                                    <td>
                                                        <label class="au-checkbox">
                                                            <input type="checkbox">
                                                            <span class="au-checkmark"></span>
                                                        </label>
                                                    </td>
                                                    <td><%= post.title %></td>
                                                    <!-- <td>
                                                        <span class="block-email">lori@example.com</span>
                                                    </td> --><td>
                                                    <button type="button" class="btn btn-outline-success btn-lg" onclick="showDetail('<%= post._id %>')">상세내용 보기</button>
                                                </td>
                                                    <td>
                                                      <%= moment(post.start).format('YYYY-MM-DD') %>
                                                      ~
                                                      <%= moment(post.end).format('YYYY-MM-DD') %>
                                                    </td>
                                                    <td>
                                                      <div class="rs-select2--trans rs-select2--sm">
                                                          <select class="js-select2" name="property">
                                                              <option value="0">비활성</option>
                                                              <option value="1" selected="selected">활성화</option>
                                                          </select>
                                                          <div class="dropDownSelect2"></div>
                                                      </div>
                                                        <!-- <span class="status--process">Processed</span> -->
                                                    </td>
                                                    <td>
                                                        <div class="table-data-feature">
                                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Send">
                                                                <i class="zmdi zmdi-mail-send"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Edit" onclick="location.href='/posts/<%= post._id %>/edit'">
                                                                <i class="zmdi zmdi-edit"></i>
                                                            </button>

                                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Delete" onclick="DeleteEvent('<%= post._id %>')">
                                                                <i class="zmdi zmdi-delete"></i>

                                                            </button>
                                                            <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                                <i class="zmdi zmdi-more"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="spacer"></tr>
                                            <% }); %>
                                          </tbody>
                                      </table>
                                  </div>
                                  <!-- END DATA TABLE -->
                              </div>
                          </div>
                          <div class="row m-t-30">
                              <div class="col-md-12">

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>


      </div>


      <!-- <script language="javascript">
        function showPopup(path){
          console.log(path);
          window.open(`/posts/${path}/destroy`,"admin_delete","width=400, height=200,top=400");
        }
      </script>

      <script language="javascript">
        function showDetail(path){
          window.open(`/posts/${path}`,"admin_detail","width=800, height=500,top=400");
        }
      </script> -->



  </body>
