<body>
<!-- Start Main Top -->
  <header class="main-header">
      <!-- Start Navigation -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
           <div class="container-fluid">
          <div class="row" float="right">
          <% if(isAuthenticated){ %>
              <span><%= currentUser.username %> 환영합니다.</span>
              <button type="button" onclick="location.href='/users/logout'">Logout</button>
          <% } else { %>
              <div class="login">
                  <form action="/users/login" method="post">
                    ID <input type="text" name="username" id="username" value="<%= username %>" placeholder="id">
                    PASSWORD <input type="password" name="password" id="password" placeholder="password">
                    <input class="" type="submit" value="Submit">
                  </form>
                </div>
                <div class="col-xs-12">
                  <button type="button" class="btn btn-outline-secondary btn-sm" onclick="location.href='/users/signup'">ID/PW 찾기</button>
                  <button type="button" class="btn btn-outline-secondary btn-sm" onclick="location.href='/users/signup'">회원가입</button>
                </div>
          <% } %>
      </div>
          </div>
          <div class="container">
              <!-- Start Header Navigation -->
              <div class="navbar-header">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fa fa-bars"></i>
              </button>
          </div>
              <!-- End Header Navigation -->
              <!--, and other content for toggling -->
              <div class="collapse navbar-collapse" id="navbar-menu">
                  <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                      <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li> <!--about.html -> /about-->
                      <li class="dropdown active">
                          <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">SHOP</a>
                          <ul class="dropdown-menu">
                              <li><a href="/category">Shoplist</a></li>
                              <li><a href="/cart">Cart</a></li>
                              <li><a href="/order_list">Orderlist</a></li>
                          </ul>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">BOARD</a>
                        <ul class="dropdown-menu">
                            <li><a href="/notice">Notice</a></li>
                            <li><a href="/contact-us">Contact Us</a></li>
                        </ul>
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/gallery">Gallery</a></li>
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
              <!-- Start Atribute Navigation -->
              <div class="attr-nav" style="padding-right: 10px;">
                  <ul>
                      <a href="/cart">
                          <i class="fa fa-shopping-bag">
                              <% if(session.cart){ %>
                                  <span class="badge">
                                      <%= session.cart.totalQty %>
                                  </span>
                                  <% } else { %>
                                      <span class="badge">0</span>
                                      <% } %>
                          </i>
                        My Cart
                    </a>
                </ul>
            </div>
            <!-- End Atribute Navigation -->
        </div>
    </nav>
    <!-- End Navigation -->
</header>
<!-- End Main Top -->
<!-- Start Top Search -->
<div class="top-search">
    <div class="container">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
        </div>
    </div>
</div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>장바구니</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" style="color: white">장바구니</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start Cart  -->
<% if(productArray !==null){ %>
    <div class="cart-box-main">
        <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-main table-responsive">
                            <table class="table" style="text-align: center;">
                                <thead>
                                    <tr>
                                        <th>상품 이미지</th>
                                        <th>상품 이름</th>
                                        <th>가격</th>
                                        <th>상품 수량 선택</th>
                                        <th>상품 주문 금액</th>
                                        <th>삭제</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <% productArray.forEach(function(key){ %>
                                        <tr>
                                            <td class="thumbnail-img">
                                                <a href="/<%= key.item._id %>">
                                                    <img class="img-fluid" src="images/img-pro-01.jpg" alt="" />
                                                </a>
                                            </td>
                                            <td class="name-pr">
                                                <a href="/<%= key.item._id %>">
                                                    <%= key.item.name %>
                                                </a>
                                            </td>
                                            <td class="price-pr">
                                                <p>
                                                    <%= key.item.price %>
                                                </p>
                                            </td>


                                            <td class="quantity-box">

                                                <input type="text" size="1" maxlength="4" value="<%= key.sales %>" style="width: auto; float:left; margin : 0px 10% 0px 30%;">

                                                <form action="/up" method="POST">
                                                    <button type="submit" class="up" value="<%= key.item._id %>" name="up" style="float:left;">
                                                        <i class="fas fa-arrow-alt-circle-up up"></i>
                                                    </button>
                                                </form>

                                                <form action="/down" method="POST">
                                                    <button type="submit" class="down" value="<%= key.item._id %>" name="down" style="float:left;">
                                                        <i class="fas fa-arrow-alt-circle-down down"></i>
                                                    </button>
                                                </form>


                                            </td>


                                            <td class="total-pr">
                                                <p>
                                                    <%= key.price %>
                                                </p>
                                            </td>
                                            <td class="remove-pr">
                                                <form action="/remove" method="POST">
                                                    <button type="submit" class="remove" value="<%= key.item._id %>" name="remove">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>



            <div class="row my-5">
                <div class="col-lg-8 col-sm-12"></div>
                <div class="col-lg-4 col-sm-12">
                    <div class="order-box">
                        <h3 class="ml-auto font-weight-bold">총 금액</h3>
                        <hr class="my-1">
                        <div class="d-flex">
                            <h4>상품 금액</h4>
                            <div class="ml-auto font-weight-bold">
                                <%= totalPrice %> 원
                            </div>

                        </div>
                        <hr class="my-1">
                        <div class="d-flex">
                            <h4>세금</h4>

                            <div class="ml-auto font-weight-bold"> Free </div>

                        </div>
                        <div class="d-flex">
                            <h4>배송비</h4>
                            <div class="ml-auto font-weight-bold"> Free </div>
                        </div>
                        <hr>
                        <div class="d-flex gr-total">
                            <h5>총 합계</h5>
                            <div class="ml-auto h5">
                                <%= totalPrice %> 원
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="col-12 d-flex shopping-box"><a href="/checkout" class="ml-auto btn hvr-hover">결제하기</a>
                </div>
            </div>
        </div>
    </div>
    <% } else{%>
        <div class="cart-box-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-main table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>상품 이미지</th>
                                        <th>상품 이름</th>
                                        <th>가격</th>
                                        <th>상품 수량 선택</th>
                                        <th>상품 주문 금액</th>
                                        <th>삭제</th>
                                    </tr>
                                </thead>
                            </table>
                            <div class="col-lg-20" style="text-align: center; margin:150px">
                                장바구니가 비었습니다
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
</body>


            <!-- End Cart -->
