<body>
  <!-- Start Main Top -->
  <header class="main-header">
      <!-- Start Navigation -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
           <div class="container-fluid">
          <div class="row" float="right">
          <% if(isAuthenticated){ %>
              <span><%= currentUser.username %> 환영합니다.</span>
              <button type="button" onclick="location.href='/users/logout'">Logout</button>
          <% } else { %>
              <div class="login">
                  <form action="/users/login" method="post">
                    ID <input type="text" name="username" id="username" value="<%= username %>" placeholder="id">
                    PASSWORD <input type="password" name="password" id="password" placeholder="password">
                    <input class="" type="submit" value="Submit">
                  </form>
                </div>
                <div class="col-xs-12">
                  <button type="button" class="btn btn-outline-secondary btn-sm" onclick="location.href='/users/signup'">ID/PW 찾기</button>
                  <button type="button" class="btn btn-outline-secondary btn-sm" onclick="location.href='/users/signup'">회원가입</button>
                </div>
          <% } %>
      </div>
          </div>
          <div class="container">
              <!-- Start Header Navigation -->
              <div class="navbar-header">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fa fa-bars"></i>
              </button>
          </div>
              <!-- End Header Navigation -->
              <!--, and other content for toggling -->
              <div class="collapse navbar-collapse" id="navbar-menu">
                  <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                      <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li> <!--about.html -> /about-->
                      <li class="dropdown active">
                          <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">SHOP</a>
                          <ul class="dropdown-menu">
                              <li><a href="/category">Shoplist</a></li>
                              <li><a href="/cart">Cart</a></li>
                              <li><a href="/order_list">Orderlist</a></li>
                          </ul>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">BOARD</a>
                        <ul class="dropdown-menu">
                            <li><a href="/notice">Notice</a></li>
                            <li><a href="/contact-us">Contact Us</a></li>
                        </ul>
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/gallery">Gallery</a></li>
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
              <!-- Start Atribute Navigation -->
              <div class="attr-nav" style="padding-right: 10px;">
                <ul>
                    <a href="/cart">
                        <i class="fa fa-shopping-bag">
                            <% if(session.cart){ %>
                                <span class="badge">
                                    <%= session.cart.totalQty %>
                                </span>
                                <% } else { %>
                                    <span class="badge">0</span>
                                    <% } %>
                        </i>
                        My Cart
                    </a>
                </ul>
            </div>
            <!-- End Atribute Navigation -->
            </div>
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>상품 목록</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" style="color: white">상품 목록</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Shop Detail  -->
    <div class="shop-detail-box-main">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-6">
                    <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <% product.files.forEach(function(file,index){ %>
                            <div class="carousel-item <% if(index==0) {%>
                                active"
                                <%}else { %>
                                    "
                                 <% } %>> <img class="carousel_img" src="/upload/<%= file.filename %>" alt="<%= file.filename %>.jpg"> </div>
                            <% }) %>
                        </div>
                        <a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev">
						<i class="fa fa-angle-left" aria-hidden="true"></i>
						<span class="sr-only">Previous</span>
					</a>
                        <a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
						<span class="sr-only">Next</span>
					</a>
                        <ol class="carousel-indicators">
                            <% product.files.forEach(function(file,index){ %>
                            <li data-target="#carousel-example-1" data-slide-to="0" class=<% if(index==0) {%>
                                "active"
                                <% }else { %>
                                ""
                                <%} %>>
                                <img class="d-block w-100 img-fluid" src="/upload/<%= file.filename %>" alt="" />
                            </li>
                            <%})%>
                        </ol>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-6">
                    <div class="single-product-details">
                        <h2><%= product.name %></h2>
                        <h4><% if(product.origin==1){  %>
                            일반 원두 
                        <% } else if(product.origin==3){ %>
                            고급 원두
                        <% } else {%>
                            입문자용 원두
                        <%} %>
                        </h4>
                        <h5><%= product.weight %>당 <%= product.price %>원</h5>
                  <h4>Short Description:</h4>
                  <p><%= product.body %>
                   </p>
                   <form action="/AddCart/<%= product._id %>" method="post">
                        <ul>
                            <li>
                                <div class="form-group quantity-box">
                                        <label class="control-label">수량
                                            <input class="form-control" value="0" min="0" max="20" type="number" name="count">
                                        </label>
                                </div>
                                </li>
                        </ul>
                        <div class="price-box-bar">
                            <div class="cart-and-bay-btn">
                                    <a class="btn hvr-hover" data-fancybox-close="" href="#">바로 구매 </a>
                                    <input type="submit" class="btn hvr-hover" style="float:right" data-fancybox-close="" value="장바구니 담기">
                                    <a class="btn hvr-hover" data-fancybox-close="" onclick="showDestination()">배송지 선택</a>
                                <!-- <form>
                                <select name="배송지">
                                    <option value="none">기본 배송지</option>
                                </select>
                                </form> -->
                            </div>
                        </div>
                    </form>

                  </div>
                    </div>
                </div>
            </div>

        </div>
    <!-- End Cart -->
</body>
